@font-face {
    font-family: 'ControlRegular';
    src: url('./Control_Regular.ttf') format('truetype');
}

.menu {
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.menu.left {
    margin-right: 20px;
}

.menu.right {
    margin-left: 20px;
}

.menu-item {
    padding: 40px 20px;
    margin-bottom: 5px;
    font-family: 'ControlRegular', Courier, monospace;
    font-weight: 450;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 25px;
}

.menu-item:hover {
    background-color: #e0e0e0;
}