.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 30px;
    background-color: #ffffffcb;
}

.control-panel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #c0c0c0;
    border: 1px solid #000;
    padding: 12px 22px; /* Buttons size */
    text-align: center;
    font-size: 17px;
}

.vertical-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-panel {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #000;
    overflow-y: auto;
}

.additional-info {
    margin-bottom: 20px;
}

.additional-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.additional-info p {
    font-size: 16px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu {
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.menu.left {
    margin-right: 20px;
}

.menu.right {
    margin-left: 20px;
}

.menu-item {
    padding: 50px 20px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.menu-item:hover {
    background-color: #e0e0e0;
}