.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 30px;
    background-color: #ffffffcb;
}

.control-panel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    /* padding: 12px 22px; */
}

.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #c0c0c0;
    border: 1px solid #000;
    padding: 12px 22px; /* Buttons size */
    text-align: center;
    font-size: 17px;
    width: 230px; /* Buttons width */
}

/* .button .div {
    padding: 12px 22px;
} */


/* @media screen and (min-width: 1015px),
       screen and (min-height: 650px) {
    .button {
        padding: 20px 30px;
    }
}*/

/* @media screen and (max-width: 1160px) {
    .button {
        font-size: 11px;
    }
} */

/* @media screen and (min-width: 1160px),
       screen and (min-height: 800px) {
    .button {
        padding: 30px 40px;
    }
}

@media screen and (min-width: 1200px) {
    .button {
        padding: 25px 60px;
    }
} */

.vertical-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-panel {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #000;
    overflow-y: auto;
}

.additional-info {
    margin-bottom: 20px;
}

.additional-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.additional-info p {
    font-size: 16px;
}

/* INTERCOM */

.intercom-call {
    height:100px;
    -webkit-animation-name: animation;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;    
    -webkit-animation-play-state: running;
    
    animation-name: animation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;    
    animation-play-state: running;
    background-color: #f00;
}

@-webkit-keyframes animation {
    0%     {background-color:green;}
    50.0%  {background-color:#ff9999;}
    100.0%  {background-color:green;}
}

@keyframes animation {
    0%     {background-color:green;}
    50.0%  {background-color:#ff9999;}
    100.0%  {background-color:green;}
}